<%- include("partials/header.ejs") %>

<div class="container text-center d-flex flex-column min-vh-100 w-75 main-container">
    <div class="col-lg-9 m-auto">
        <h1 class="display-5 fw-bold text-body-emphasis">Quiz end!</h1>
        <p class="lead mb-4">Correct answers: <%= score %></p>
        <a href="/" class="btn btn-lg btn-primary">Try another quiz</a>
    </div>
</div>



<%- include("partials/footer.ejs") %>